/* ------------------- */
/*-------global--------*/
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* set font */
html, body {
    font-family: 'Roboto Condensed', sans-serif;
}
/* button  */
.btn-big {
    padding: .5rem 1rem;
    border-radius: 10px;
}
.btn-orange {
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}
.btn-orange:hover {
    background: linear-gradient(to right,#ec7532,#fbbd61);
}
/* ------------------- */
/* --Header section--- */
/* ------------------- */
header {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
#navbarmovieheader .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#navbarmovieheader .nav-item {
    padding: 1rem 1rem .5rem;
}
#navbarmovieheader .nav-link {
    color: #fff;
}
/* hover  */
#navbarmovieheader .nav-item::after {
    display: block;
    width: 0;
    content: '';
    height: 2px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}
#navbarmovieheader .nav-item:hover::after  {
    width: 100%;
}
/* active  */
#navbarmovieheader .nav-item.active::after {
    display: block;
    width: 100%;
    content: '';
    height: 2px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}

/* ------------------- */
/* --Carousel section--- */
/* ------------------- */
/* caption left  */
#carouselMovie  .carousel-inner .carousel-item .carousel-caption {
    /* caption left  */
    text-align: left;
    /* cang giua absolute  */
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#carouselMovie  .carousel-indicators li {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    /* background-clip: padding-box; when set background color*/
}
#carouselMovie  .carousel-indicators li.active {
    background-color: #fff;
}
#carouselMovie .carousel-indicators {
    justify-content: flex-start;
    /* can deu voi caption  */
    width: 80%;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    margin-left: 0;
}
.movie__trailer {
    display: flex;
}
.movie__trailer .movie__PG {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
