/* ------------------- */
/*-------global--------*/
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
}
/* html  */
html {
    font-size: 16px;
    /* 1rem = 16px */
}
/* set font */
html, body {
    font-family: 'Roboto Condensed', sans-serif;
}
/* button  */
.btn-big {
    padding: .5rem 1rem;
    border-radius: 10px;
}
.btn-orange {
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}
.btn-orange:hover {
    background: linear-gradient(to right,#ec7532,#fbbd61);
}
/* header  */
.header__secondary {
    font-size: 1rem;
    color: #ec7532;
    text-transform: uppercase;
    border-bottom: 1px solid #A2A2A2;
    margin-bottom: 3rem;
}
.header__secondary span {
    display: inline-block;
}
.header__secondary span::after {
    display: block;
    width: 120px;
    content: '';
    height: 4px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
    margin-top: 1rem;
}

/* ------------------- */
/* --Header section--- */
/* ------------------- */
header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
#navbarmovieheader .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#navbarmovieheader .nav-item {
    padding: 1rem 1rem .5rem;
}
#navbarmovieheader .nav-link {
    color: #fff;
}
/* hover  */
#navbarmovieheader .nav-item::after {
    display: block;
    width: 0;
    content: '';
    height: 2px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}
#navbarmovieheader .nav-item:hover::after  {
    width: 100%;
}
/* active  */
#navbarmovieheader .nav-item.active::after {
    display: block;
    width: 100%;
    content: '';
    height: 2px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}


/* ------------------- */
/* --Carousel section--- */
/* ------------------- */
.movieCarousel__section {
    margin: 0;
    padding: 0;
}
/* caption left  */
#carouselMovie  .carousel-inner .carousel-item .carousel-caption {
    /* caption left  */
    text-align: left;
    /* cang giua absolute  */
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* style dote in carousel  */
#carouselMovie  .carousel-indicators li {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    /* background-clip: padding-box; when set background color*/
    margin-left: 12px;
}
#carouselMovie  .carousel-indicators li.active {
    background-color: #fff;
}
#carouselMovie .carousel-indicators {
    justify-content: flex-start;
    /* can deu voi caption  */
    width: 80%;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    margin-left: 0;
}

/* style content  */
.carousel-item .film__kind {
    text-transform: uppercase;
    color: #fbbd61;
    letter-spacing: 2px;
    visibility: hidden;
}
.film__name {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.film__description {
    width: 80%;
    font-size: 1.2rem;
}
.movie__trailer {
    display: flex;
}
.movie__trailer .movie__PG {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 1rem;
}
.movie__trailer button {
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 30px;
    color: #fff;
}
/* effect  */
.carousel-item .film__kind {
    visibility: visible
}
/* ------------------- */
/* --New In section--- */
/* ------------------- */
.newIn__img {
    position: relative;
    overflow: hidden;
}
.newIn__img:hover .newIn__overlay {
 transform: skewX(30deg) translateX(-22%); 

}
.newIn__overlay {
    width: 180%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    transform: skewX(30deg) translateX(-135%);
    transition: all .7s;
    opacity: 0.8;
}
/* transform: skewX(10deg) translateX(-22%);  */
.newIn__play {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    transition: all .7s;
    opacity: 0;
}
.newIn__img:hover .newIn__play {
    opacity: 1;
}
.newIn__play i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-bottom: 1rem;
    transition: all .2s;
}
.newIn__play i:hover {
    transform: scale(1.2);
}
.newIn__play a {
    text-decoration: none;
    color: #fff;
}

/* text  */
.newIn__text {
    text-align: center;
    margin-bottom: 1rem;
}
.newIn__text p {
    padding: 1rem;
    padding-bottom: 0;
    color: #A2A2A2;
}
.icon__star {
    font-size: 14px;
    color: #fbbd61;
}
.icon__star i {
    padding: 3px;
}

/* ------------------- */
/* --ShowTime section- */
/* ------------------- */
.showTime__section .showTime__title {
    border-bottom: 1px solid #A2A2A2;
}
.showTime__section .nav-pills .nav-link {
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.showTime__section .nav-item::after {
    display: block;
    width: 0;
    content: '';
    height: 3px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}
.showTime__section .nav-item:hover::after,
.showTime__section .nav-item.active::after {
    width: 100%;
}
.showTime__section .nav-item.active .nav-link {
    color: #ec7532;
}
/* list film  */
.showTime__content {
    border-bottom: 1px solid #A2A2A2;
    padding: 2rem 0;
}
/* image  */
.showtime__img img {
    border-radius: 10px;
}
/* film  */
.showtime__text {
    letter-spacing: 2px;
}
.showtime__text h2 {
    text-transform: uppercase;
    color: #fbbd61;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
}
.showtime__text h3 {
    font-size: 1.2rem;
    color: #101010;
}
.showtime__text p {
    font-size: .8rem;
    color: #A2A2A2;
}
.showtime__text h2 a {
    text-decoration: none;
    color: #fbbd61;
    font-size: 0.7rem;
    transition: all .2s;

}
.showtime__text h2 a:hover {
    text-decoration: none;
    color: #A2A2A2;
}
/* date */
.showtime__date button {
    background-color: #717171;
    color: #fff;
}
.showtime__age {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #717171;
    text-align: center;
    line-height: 40px;
}












/* ------------------- */
/* --comingsoon section- */
/* ------------------- */
.comingSoon__section {
    background: url('/img/slide-3.png') rgba(0, 0, 0, 0.9);
    padding: 2rem;
}
.comingSoon__section .header__secondary {
    color: #fff;
}
.comingSoon__film {
    padding: 3rem;
}
.comingSoon__kind {
    text-transform: uppercase;
    color: #ec7532;
    letter-spacing: 2px;
}
.comingSoon__name {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.comingSoon__film .icon__star {
    font-size: 10px;
}
.comingSoon__date {
    color: #fff;
}
.comingSoon__description {
    width: 80%;
    font-size: 1rem;
    font-weight: 700;
}
.comingSoon__infor {
    color: #ec7532;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;


}
.comingsoon__video {

}
/* ------------------- */
/* -Movie List section- */
/* ------------------- */
.movie__section {
    background: #101010;
    color: #fff;
    padding: 4rem 0;
}
.movie__item {
    text-align: center;
    opacity: 0.5;
    transition: all .5s;
}
.movie__item img {
    border-radius: 10px;
    margin-bottom: 1rem;
}
.movie__item h4 {
    font-size: 1rem;
}
.movie__item p {
    font-size: 0.9rem;
    color: #A2A2A2;
    margin-bottom: 0;
}
.movie__item:hover {
    opacity: 1;
}   
/* ------------------- */
/* -Contact  section- */
/* ------------------- */
.contact__section {
    color: #000;
    background-color: #fff;
}
.contact__section p {
    font-size: 1.5rem;
    color: #717171;
    text-shadow: hsla(0, 0%, 0%, 0) 1px 1px 1px;
}
.contact__section h2 {
    font-size: 3rem;
    color: #ec7532;
    text-shadow: hsla(0, 0%, 0%, 0) 1px 1px 1px;
}
/* ------------------- */
/* ------footer----- - */
/* ------------------- */
footer {
    background-color: #101010;
    color: #fff;
}
.footer__content {

}
.footer__item h3 {
    font-size: 1rem;
    color: #ec7532;
    text-transform: uppercase;
}
.footer__item a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 0.8rem;
    transition: all .2s;
}
.footer__item a:hover,
.footer__copyright a:hover {
    color: #fbbd61;
}
.footer__item a i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
/* copyright  */
.footer__copyright a {
    text-decoration: none;
    color: #fff;
    transition: all .2s;
}














/* Responsive wedsite */
/* deskstop first */ 
/* Hoan thanh o man hinh lon sau do chinh sua cho cac man hinh nho  */
/*  type: screen chi quan tam den screen, 
    type: print
    type: speech
    type: all
*/
.demo1 {
    background-color: red;
}
@media screen and (max-width: 1200px){
    /* pham vi anh huong <=1200  */
    .demo1 {
        background-color: salmon;
    }
}
@media screen and (max-width: 768px){
    /* pham vi anh huong <=1200  */
    .demo1 {
        background-color: palegreen;
    }
}
/* mobile first  */
/* man hinh nho sau do chinh sua them vao cho vua o cac man hinh lon hon */
.demo2 {
    background-color: peru;
}
@media screen and (min-width: 768px){
    /* pham anh huong se >1200px */
    .demo2 {
        background-color: olivedrab;
    }
}
@media screen and (min-width: 1200px){
    /* pham anh huong se >1200px */
    .demo2 {
        background-color: yellow;
    }
}
/* set khoang screen  */
@media screen and (min-width: 900px) and (max-width: 1000px) {
    .demo2 {
        background-color: tomato;
    }
}
/* bootstrap su dung min width  */