/* ------------------- */
/*-------global--------*/
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
}
/* html  */
html {
    font-size: 16px;
    /* 1rem = 16px */
}
/* set font */
html, body {
    font-family: 'Roboto Condensed', sans-serif;
}
/* button  */
.btn-big {
    padding: .5rem 1rem;
    border-radius: 10px;
}
.btn-orange {
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}
.btn-orange:hover {
    background: linear-gradient(to right,#ec7532,#fbbd61);
}


/* ------------------- */
/* --Header section--- */
/* ------------------- */
header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
#navbarmovieheader .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
#navbarmovieheader .nav-item {
    padding: 1rem 1rem .5rem;
}
#navbarmovieheader .nav-link {
    color: #fff;
}
/* hover  */
#navbarmovieheader .nav-item::after {
    display: block;
    width: 0;
    content: '';
    height: 2px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}
#navbarmovieheader .nav-item:hover::after  {
    width: 100%;
}
/* active  */
#navbarmovieheader .nav-item.active::after {
    display: block;
    width: 100%;
    content: '';
    height: 2px;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .5s;
}


/* ------------------- */
/* --Carousel section--- */
/* ------------------- */
.movieCarousel__section {
    margin: 0;
    padding: 0;
}
/* caption left  */
#carouselMovie  .carousel-inner .carousel-item .carousel-caption {
    /* caption left  */
    text-align: left;
    /* cang giua absolute  */
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* style dote in carousel  */
#carouselMovie  .carousel-indicators li {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    /* background-clip: padding-box; when set background color*/
    margin-left: 12px;
}
#carouselMovie  .carousel-indicators li.active {
    background-color: #fff;
}
#carouselMovie .carousel-indicators {
    justify-content: flex-start;
    /* can deu voi caption  */
    width: 80%;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    margin-left: 0;
}

/* style content  */
.carousel-item .film__kind {
    text-transform: uppercase;
    color: #fbbd61;
    letter-spacing: 2px;
    visibility: hidden;
}
.film__name {
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.film__description {
    width: 80%;
    font-size: 1.2rem;
}
.movie__trailer {
    display: flex;
}
.movie__trailer .movie__PG {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin-right: 1rem;
}
.movie__trailer button {
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 30px;
    color: #fff;
}
/* effect  */
.carousel-item .film__kind {
    visibility: visible
}
/* ------------------- */
/* --New In section--- */
/* ------------------- */
.newIn__img {
    position: relative;
    overflow: hidden;
}
.newIn__img:hover .newIn__overlay {
 transform: skewX(30deg) translateX(-22%); 

}
.newIn__overlay {
    width: 180%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    transform: skewX(30deg) translateX(-135%);
    transition: all 2s;
    opacity: 0.8;
}
/* transform: skewX(10deg) translateX(-22%);  */
.newIn__play {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
/* ------------------- */
/* --New In section--- */
/* ------------------- */
/* ------------------- */

/* ------------------- */
/* --ShowTime section- */
/* ------------------- */

/* ------------------- */
/* --comingsoon section- */
/* ------------------- */
.comingSoon__section {
    background: url('/img/slide-3.png') rgba(0, 0, 0, 0.9);
}




/* Responsive wedsite */
/* deskstop first */ 
/* Hoan thanh o man hinh lon sau do chinh sua cho cac man hinh nho  */
/*  type: screen chi quan tam den screen, 
    type: print
    type: speech
    type: all
*/
.demo1 {
    background-color: red;
}
@media screen and (max-width: 1200px){
    /* pham vi anh huong <=1200  */
    .demo1 {
        background-color: salmon;
    }
}
@media screen and (max-width: 768px){
    /* pham vi anh huong <=1200  */
    .demo1 {
        background-color: palegreen;
    }
}
/* mobile first  */
/* man hinh nho sau do chinh sua them vao cho vua o cac man hinh lon hon */
.demo2 {
    background-color: peru;
}
@media screen and (min-width: 768px){
    /* pham anh huong se >1200px */
    .demo2 {
        background-color: olivedrab;
    }
}
@media screen and (min-width: 1200px){
    /* pham anh huong se >1200px */
    .demo2 {
        background-color: yellow;
    }
}
/* set khoang screen  */
@media screen and (min-width: 900px) and (max-width: 1000px) {
    .demo2 {
        background-color: tomato;
    }
}
/* bootstrap su dung min width  */